<h3>Search Results for <%= @city.city_name %></h3>
<ul>Total Population: <%= @city.population %></ul> 
<ul>Average Age: <%= @city.average_age %></ul>
<ul>Non-US Citizens: <%= @city.non_us_citizens %>%</ul>
<ul>Mean Commute Time: <%= @city.mean_commute %> minutes</ul>
<ul>Average Income: $<%= @city.average_income %></ul>
<ul>Owner-Occupied Houses: <%= @city.owner_occupied %>%</ul>
