  <div class='col-12 mx-auto'>
    <div class='row text-center'>
      <div class='col-12'>
        <% if current_user.favorited?(city.geo_id) %>
          <%= form_tag favorite_path(geo_id: city.geo_id), { action: 'update', method: :put } do %>
            <%= hidden_field_tag :geo_id, city.geo_id  %>
            <%= submit_tag 'Unfavorite', type: 'submit', class: "btn btn-primary" , method: :put%>
          <% end %>
        <% else %>
          <% if current_user.eliminated_favorite?(city.geo_id) %>
            <p>You previously favorited this location</p>
          <% end %>
          <%= form_tag :favorites, { action: 'create' } do %>
            <%= hidden_field_tag :geo_id, city.geo_id  %>
            <%= submit_tag 'Favorite', type: 'submit', class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<div class="d-flex p-2 flex-row justify-content-start">
  <div class="bd-highlight flex-grow-1 text-center">

    <div class="d-flex mt-3 justify-content-around align-items-start">
      <div class="flex-row">
          <div class="bd-highlight text-center">
          <h4></h4>
          <br/>
            <h1 class="display-4">
              <%= city.city_name %>
            </h1>
            <h4>
              <a class="text-info" >
               Median Age <%= city.average_age %> years
              </a>
            </h4>
            <br/>
          </div>
          <div class="bd-highlight text-center">
            <h4>Population</h4>
            <h1 class="display-4">
              <%= number_with_delimiter(city.population, delimiter: ',') %>
            </h1>
            <h4>
              <a class="text-info" >
               Ranked <%= city.pop_rank.ordinalize %>
              </a>
            </h4>
            <br/>
          </div>
        </div>

        <div class="flex-row">
          <div class="bd-highlight text-center">
            <h4>Median Income</h4>
            <h1 class="display-4">
              <%= number_to_currency(city.average_income, precision: 0) %>
            </h1>
            <h4>
              <a class="text-info" >
                Ranked <%= city.income_rank.ordinalize %>
              </a>
            </h4>
            <br/>
          </div>
          <div class="bd-highlight text-center">
            <h4>Median Property Value</h4>
              <h1 class="display-4">
                <%= number_to_currency(city.average_property_value, precision: 0) %>
              </h1>
            <h4>
              <a class="text-info" >
                Owner Occupied Homes <%= city.owner_occupied %>%
              </a>
            </h4>
          </div>
        </div>
    </div>
  </div>

  <div class="bd-highlight flex-grow-1 text-center">
    <div class="col-sm-12">
      <h1>Ethnicity Breakdown</h1>
      <h5 class="ml-1 text-muted"></h5>
      <%= bar_chart(city.ethnicity_hash) %>
    </div>

  </div>
</div>



<div class="d-flex p-2 flex-column">
  <h1>Transportation</h1>
  <h4>Mean Commute Time: <%= city.mean_commute %> minutes</h4>
  <h5 class="ml-2 text-muted"></h5>
  <%= pie_chart(city.transport_hash) %>
</div>
