<div class='row'>
  <div class='col-12 text-center'>
    <h3><span class="lnr lnr-home"></span><%= city.city_name %></h3>
  </div>

  <div class='col-12 mx-auto'>
    <div class='row text-center'>
      <div class='col-12'>
        <% if current_user.favorited?(city.geo_id) %>
          <%= form_tag favorite_path(geo_id: city.geo_id), { action: 'update', method: :put } do %>
            <%= hidden_field_tag :geo_id, city.geo_id  %>
            <%= submit_tag 'Unfavorite', type: 'submit', class: "btn btn-primary" , method: :put%>
          <% end %>
        <% else %>
          <%= form_tag :favorites, { action: 'create' } do %>
            <%= hidden_field_tag :geo_id, city.geo_id  %>
            <%= submit_tag 'Favorite', type: 'submit', class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>

      <div class='col-6 text-left'>
      </div>
    </div>
  </div>

  <div class='col-12 mt-5'>
    <div class='row'>
      <div class='col-12 col-md-4 h-100'>
        <div class='card rounded shadow p-2'>
          <div class='d-flex flex-column'>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Total Population: </span>
              <span><%= city.population %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Average Age: </span>
              <span><%= city.average_age %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Non-US Citizens: </span>
              <span><%= city.non_us_citizens %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Mean Commute Time: </span>
              <span><%= city.mean_commute %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Average Income: </span>
              <span><%= city.average_income %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span class='d-inline-block'>Owner-Occupied Houses: </span>
              <span><%= city.owner_occupied %></span>
            </div>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-4 h-100'>
        <div class='card rounded shadow p-2'>
          <div class='card-title text-center'>
            <h5>Transportation Data</h5>
          </div>

          <div class='d-flex flex-column'>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Drive: </span><span><%= city.drive %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Carpool: </span><span><%= city.carpool %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Public Transportation: </span><span><%= city.public_transport %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Motorcycle: </span><span><%= city.motorcycle %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Bike: </span><span><%= city.bike %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Walk: </span><span><%= city.walk %></span>
            </div>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-4 h-100'>
        <div class='card rounded shadow p-2'>
          <div class='card-title text-center'>
            <h5>Ethnicity Data</h5>
          </div>

          <div class='d-flex flex-column'>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Multi-Racial: <%= city.multi_racial %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Asian: <%= city.asian %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Black: <%= city.black %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Hawiian: <%= city.hawaiian %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Latinx: <%= city.latinx %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>Native American: <%= city.native_american %></span>
            </div>
            <div class='py-3 px-5 d-flex justify-content-between'>
              <span>White: <%= city.white %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex p-2 flex-column">
  <h1>Transportation</h1>
  <h5 class="ml-2 text-muted">How do people get around?</h5>
  <%= bar_chart(city.transport_hash) %>
</div>
